{% extends 'admin/change_list.html' %}
{% load staticfiles %}
{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
    <script>
        var options = {
                scales: {
                   yAxes: [{
                       ticks: {
                           beginAtZero: true
                       }
                   }]
                 },
            responsive: true,
            maintainAspectRatio: true,
            legend: {
                display: false
            },
            title: {
                display: false
            },
            animation: {
                animateScale: true,
                animateRotate: true
            }
        };
        window.onload = function () {
            var ctx = document.getElementById("plant-chart");
            {% regroup cl.queryset|dictsort:"plant" by get_plant_display as plant_list %}
            var lineChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: [{% for plant in plant_list %}'{{ plant.grouper }}',{% endfor %}],
                    datasets: [{
                        data: [{% for plant in plant_list %}'{{ plant.list|length }}',{% endfor %}],
                        backgroundColor: ['#bab4b5', '#000000', '#605a5b']
                    }]
                },
                options: options
            });
        }
    </script>
{% endblock %}
{% block content %}
    <hr>
    <div class="row">
        <div class="col-sm-4">
            <canvas id="plant-chart" style="width: 100px !important;"></canvas>
        </div>
        <div class="col-sm-4">
            <canvas id="value-stream-chart" style="width: 100px !important;"></canvas>
        </div>
    </div>
    {{ block.super }}
{% endblock %}
